<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><!-- InstanceBegin template="/Templates/planningsitetemplate.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>Untitled Document</title>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
<style type="text/css">
#apDiv1 {
	position:absolute;
	left:128px;
	top:19px;
	width:800px;
	height:45px;
	z-index:1;
}
#apDiv2 {
	position:absolute;
	left:0px;
	top:53px;
	width:787px;
	height:182px;
	z-index:1;
}
#apDiv3 {
	position:absolute;
	left:0px;
	top:98px;
	width:1010px;
	height:9px;
	z-index:1;
	background-color: #000000;
}
#apDiv4 {
	position:absolute;
	left:623px;
	top:35px;
	width:126px;
	height:61px;
	z-index:2;
}
#apDiv5 {
	position:absolute;
	left:751px;
	top:36px;
	width:126px;
	height:59px;
	z-index:3;
}
#apDiv6 {
	position:absolute;
	left:879px;
	top:34px;
	width:127px;
	height:62px;
	z-index:4;
}
#apDiv7 {
	position:absolute;
	left:46px;
	top:4px;
	width:525px;
	height:82px;
	z-index:5;
}
#apDiv8 {
	position:absolute;
	left:0px;
	top:110px;
	width:175px;
	height:542px;
	z-index:6;
}
#apDiv9 {
	position:absolute;
	left:156px;
	top:118px;
	width:850px;
	height:3148px;
	z-index:6;
}
#apDiv10 {
	position:absolute;
	left:5px;
	top:120px;
	width:119px;
	height:274px;
	z-index:7;
}
#apDiv11 {
	position:absolute;
	left:4px;
	top:190px;
	width:118px;
	height:68px;
	z-index:8;
}
#apDiv12 {
	position:absolute;
	left:5px;
	top:260px;
	width:118px;
	height:68px;
	z-index:9;
}
#apDiv13 {
	position:absolute;
	left:7px;
	top:327px;
	width:116px;
	height:66px;
	z-index:10;
}
#apDiv14 {
	position:absolute;
	left:7px;
	top:120px;
	width:115px;
	height:68px;
	z-index:11;
}
#apDiv15 {
	position:absolute;
	left:584px;
	top:31px;
	width:386px;
	height:65px;
	z-index:12;
}td img {display: block;}td img {display: block;}
#apDiv16 {
	position:absolute;
	left:502px;
	top:-4px;
	width:696px;
	height:76px;
	z-index:12;
}td img {display: block;}
#apDiv17 {
	position:absolute;
	left:594px;
	top:24px;
	width:414px;
	height:73px;
	z-index:12;
}
#apDiv18 {
	position:absolute;
	left:6px;
	top:259px;
	width:116px;
	height:66px;
	z-index:13;
}
#apDiv19 {
	position:absolute;
	left:0px;
	top:117px;
	width:124px;
	height:276px;
	z-index:14;
}
#apDiv20 {
	position:absolute;
	left:4px;
	top:119px;
	width:143px;
	height:232px;
	z-index:14;
}td img {display: block;}td img {display: block;}td img {display: block;}td img {display: block;}
body {
	background-image: url(../808483-free-blue-background.jpg);
}
</style>
<script language="JavaScript1.2" type="text/javascript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_nbGroup(event, grpName) { //v6.0
var i,img,nbArr,args=MM_nbGroup.arguments;
  if (event == "init" && args.length > 2) {
    if ((img = MM_findObj(args[2])) != null && !img.MM_init) {
      img.MM_init = true; img.MM_up = args[3]; img.MM_dn = img.src;
      if ((nbArr = document[grpName]) == null) nbArr = document[grpName] = new Array();
      nbArr[nbArr.length] = img;
      for (i=4; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
        if (!img.MM_up) img.MM_up = img.src;
        img.src = img.MM_dn = args[i+1];
        nbArr[nbArr.length] = img;
    } }
  } else if (event == "over") {
    document.MM_nbOver = nbArr = new Array();
    for (i=1; i < args.length-1; i+=3) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = (img.MM_dn && args[i+2]) ? args[i+2] : ((args[i+1])?args[i+1] : img.MM_up);
      nbArr[nbArr.length] = img;
    }
  } else if (event == "out" ) {
    for (i=0; i < document.MM_nbOver.length; i++) { img = document.MM_nbOver[i]; img.src = (img.MM_dn) ? img.MM_dn : img.MM_up; }
  } else if (event == "down") {
    nbArr = document[grpName];
    if (nbArr) for (i=0; i < nbArr.length; i++) { img=nbArr[i]; img.src = img.MM_up; img.MM_dn = 0; }
    document[grpName] = nbArr = new Array();
    for (i=2; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = img.MM_dn = (args[i+1])? args[i+1] : img.MM_up;
      nbArr[nbArr.length] = img;
  } }
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

//-->
</script>
<script language="JavaScript1.2" type="text/javascript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_nbGroup(event, grpName) { //v6.0
var i,img,nbArr,args=MM_nbGroup.arguments;
  if (event == "init" && args.length > 2) {
    if ((img = MM_findObj(args[2])) != null && !img.MM_init) {
      img.MM_init = true; img.MM_up = args[3]; img.MM_dn = img.src;
      if ((nbArr = document[grpName]) == null) nbArr = document[grpName] = new Array();
      nbArr[nbArr.length] = img;
      for (i=4; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
        if (!img.MM_up) img.MM_up = img.src;
        img.src = img.MM_dn = args[i+1];
        nbArr[nbArr.length] = img;
    } }
  } else if (event == "over") {
    document.MM_nbOver = nbArr = new Array();
    for (i=1; i < args.length-1; i+=3) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = (img.MM_dn && args[i+2]) ? args[i+2] : ((args[i+1])?args[i+1] : img.MM_up);
      nbArr[nbArr.length] = img;
    }
  } else if (event == "out" ) {
    for (i=0; i < document.MM_nbOver.length; i++) { img = document.MM_nbOver[i]; img.src = (img.MM_dn) ? img.MM_dn : img.MM_up; }
  } else if (event == "down") {
    nbArr = document[grpName];
    if (nbArr) for (i=0; i < nbArr.length; i++) { img=nbArr[i]; img.src = img.MM_up; img.MM_dn = 0; }
    document[grpName] = nbArr = new Array();
    for (i=2; i < args.length-1; i+=2) if ((img = MM_findObj(args[i])) != null) {
      if (!img.MM_up) img.MM_up = img.src;
      img.src = img.MM_dn = (args[i+1])? args[i+1] : img.MM_up;
      nbArr[nbArr.length] = img;
  } }
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

//-->
</script>
</head>

<body>
<div id="apDiv3"></div>
<div id="apDiv7">
  <blockquote>
    <blockquote>
      <h1><strong> Planning site- Min Ji Kim</strong></h1>
    </blockquote>
  </blockquote>
</div>
<div id="apDiv9"><!-- InstanceBeginEditable name="Paragraph" -->
  <h1>Evaluation:   </h1>
  <p>Evaluation is all about me critiquing my project, what I think went well, did I meet the Success Critera (located on the side bars), and what I could have done to improve it for the future. </p>
  <h2>1) What I think for our project:  </h2>
  <blockquote>
    <blockquote>
      <p>a) Success Criteria: </p>
      <p>&nbsp;</p>
    </blockquote>
  </blockquote>
  <h2>2) Feedbacks: </h2>
  <h3>Feedback on story board from Steven:</h3>
  <ol>
    <ol>
      <ol>
        <ol>
          <ol>
            <ol>
              <ol>
                <ol>
                  <ol>
                    <ol>
                      <li>The background- a little bit distracting</li>
                      <li>Straight to the point- extremely simple :)</li>
                      <li>Change the font= not appealing to the eye</li>
                    </ol>
                  </ol>
                </ol>
              </ol>
            </ol>
          </ol>
        </ol>
      </ol>
    </ol>
  </ol>
  <h4>Changes I have made to my storyboad after feedback:</h4>
  <blockquote>
    <ul>
      <li>
        <h3> Before: </h3>
      </li>
    </ul>
  </blockquote>
  <p><img src="../previous_storyboardorwireframe.png" alt="Previous storyboard/wireframe"/></p>
  <p>Description: </p>
  <ul>
    <ul>
      <ul>
        <ul>
          <li>The background was a way to distracting</li>
          <li>Maybe the bar selection (the bar located at the top of the page) was a little bit &quot;cheap&quot; looking
            <ul>
              <li>Fix it with something more sleek </li>
            </ul>
          </li>
        </ul>
      </ul>
    </ul>
    <li>
      <h3>After: </h3>
    </li>
  </ul>
  <p><img src="../new_design.png" alt="New storyboard" width="545" height="376" /></p>
  <p>Changes: </p>
  <ul>
    <ul>
      <ul>
        <ul>
          <li>I changed the background  </li>
        </ul>
      </ul>
    </ul>
  </ul>
  <h2>3) Problems:</h2>
  <p>These are all the technical, and working problems I had during this project. This part of the evaluation shows you what I have done to tackled the problems and what the problems were. </p>
  <h2><img src="../problems.png" alt="Problems" width="598" height="212"/></h2>
  <p>&nbsp;</p>
  <h2>4) What I learnt so far:</h2>
  <ol>
    <li>I learnt how to put numbers instead of bullet points through the web by searching it online:</li>
    <p><a href="http://www.w3schools.com/html/html_lists.asp">The website</a></p>
  </ol>
  <p>&nbsp;</p>
  <h2>5) Unrelated-to-the-project evaluation</h2>
  <p>This part of the evaluation shows you my previous ideas that I chose that didn't work very well due to some technical difficulties. These are all the objectives my group and I thought of and written down. </p>
  <h2> Choosing our Idea </h2>
  <h4>Our first idea did not go well</h4>
      <ul>
        <li> Which was a website for most common types of school's textbooks</li>
      </ul>
      <h3>Why?</h3>
      <ul>
      <li>I chose this idea mainly because I feel that a lot of studnets (lincluding myself) are always looking for their school texbooks
          in different websites, and I feel that is incredibly difficult to find the type of textbook in just one website. Sometimes the website
          has different types of school textbooks but they either do not have the answers to the questions or they are missing different pages.        </li>
      </ul>
<h3>Client: Math teachers</h3>
        <ul>
          <li> How are we going to approach it:        We are going to make a pdf-viewer type of textbooks for all the answers and the working out</li>
        </ul>
  <h2>&nbsp;</h2></p>
<!-- InstanceEndEditable --></div>
<div id="apDiv17">
<table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="414">
  <!-- fwtable fwsrc="Buttons-planningsite.png" fwpage="Page 1" fwbase="ButtonsUltraFinal.png" fwstyle="Dreamweaver" fwdocid = "1252447906" fwnested="0" -->
  <tr>
    <td><img src="../ButtonsFinal/spacer.gif" width="129" height="1" border="0" alt="" /></td>
    <td><img src="../ButtonsFinal/spacer.gif" width="4" height="1" border="0" alt="" /></td>
    <td><img src="../ButtonsFinal/spacer.gif" width="138" height="1" border="0" alt="" /></td>
    <td><img src="../ButtonsFinal/spacer.gif" width="142" height="1" border="0" alt="" /></td>
    <td><img src="../ButtonsFinal/spacer.gif" width="1" height="1" border="0" alt="" /></td>
    <td><img src="../ButtonsFinal/spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>
  <tr>
    <td><a href="Brainstorming.html" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','ButtonsUltraFinal_r1_c1','../ButtonsFinal/ButtonsUltraFinal_r1_c1_s2.png','../ButtonsFinal/ButtonsUltraFinal_r1_c1_s3.png',1);" onclick="MM_nbGroup('down','navbar1','ButtonsUltraFinal_r1_c1','../ButtonsFinal/ButtonsUltraFinal_r1_c1_s3.png',1);"><img name="ButtonsUltraFinal_r1_c1" src="../ButtonsFinal/ButtonsUltraFinal_r1_c1.png" width="129" height="72" border="0" id="ButtonsUltraFinal_r1_c1" alt="" /></a></td>
    <td colspan="2"><a href="Making_Homepage.html" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','ButtonsUltraFinal_r1_c2','../ButtonsFinal/ButtonsUltraFinal_r1_c2_s2.png','../ButtonsFinal/ButtonsUltraFinal_r1_c2_s3.png',1);" onclick="MM_nbGroup('down','navbar1','ButtonsUltraFinal_r1_c2','../ButtonsFinal/ButtonsUltraFinal_r1_c2_s3.png',1);"><img name="ButtonsUltraFinal_r1_c2" src="../ButtonsFinal/ButtonsUltraFinal_r1_c2.png" width="142" height="72" border="0" id="ButtonsUltraFinal_r1_c2" alt="" /></a></td>
    <td rowspan="2"><a href="Evaluatio.html" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','ButtonsUltraFinal_r1_c4','../ButtonsFinal/ButtonsUltraFinal_r1_c4_s2.png','../ButtonsFinal/ButtonsUltraFinal_r1_c4_s3.png',1);" onclick="MM_nbGroup('down','navbar1','ButtonsUltraFinal_r1_c4','../ButtonsFinal/ButtonsUltraFinal_r1_c4_s3.png',1);"><img name="ButtonsUltraFinal_r1_c4" src="../ButtonsFinal/ButtonsUltraFinal_r1_c4.png" width="142" height="73" border="0" id="ButtonsUltraFinal_r1_c4" alt="" /></a></td>
    <td rowspan="2"><img name="ButtonsUltraFinal_r1_c5" src="../ButtonsFinal/ButtonsUltraFinal_r1_c5.png" width="1" height="73" border="0" id="ButtonsUltraFinal_r1_c5" alt="" /></td>
    <td><img src="../ButtonsFinal/spacer.gif" width="1" height="72" border="0" alt="" /></td>
  </tr>
  <tr>
    <td colspan="3"><img name="ButtonsUltraFinal_r2_c1" src="../ButtonsFinal/ButtonsUltraFinal_r2_c1.png" width="271" height="1" border="0" id="ButtonsUltraFinal_r2_c1" alt="" /></td>
    <td><img src="../ButtonsFinal/spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>
</table>
</div>
<div id="apDiv20">
  <table style="display: inline-table;" border="0" cellpadding="0" cellspacing="0" width="140">
    <!-- fwtable fwsrc="the2ndbuttons.png" fwpage="Page 1" fwbase="the2ndbuttons.jpg" fwstyle="Dreamweaver" fwdocid = "47488080" fwnested="0" -->
    <tr>
      <td><img src="../2ndButtonsnavigation/spacer.gif" alt="" name="undefined_2" width="140" height="1" border="0" id="undefined_2" /></td>
      <td><img src="../2ndButtonsnavigation/spacer.gif" alt="" name="undefined_2" width="1" height="1" border="0" id="undefined_2" /></td>
    </tr>
    <tr>
      <td><a href="Objecives.html" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','the2ndbuttons_r1_c1','../2ndButtonsnavigation/the2ndbuttons_r1_c1_s2.jpg','../2ndButtonsnavigation/the2ndbuttons_r1_c1_s3.jpg',1);" onclick="MM_nbGroup('down','navbar1','the2ndbuttons_r1_c1','../2ndButtonsnavigation/the2ndbuttons_r1_c1_s3.jpg',1);"><img name="the2ndbuttons_r1_c1" src="../2ndButtonsnavigation/the2ndbuttons_r1_c1.jpg" width="140" height="57" border="0" id="the2ndbuttons_r1_c1" alt="" /></a></td>
      <td><img src="../2ndButtonsnavigation/spacer.gif" alt="" name="undefined_2" width="1" height="57" border="0" id="undefined_2" /></td>
    </tr>
    <tr>
      <td><a href="Flowcharts.html" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','the2ndbuttons_r2_c1','../2ndButtonsnavigation/the2ndbuttons_r2_c1_s2.jpg','../2ndButtonsnavigation/the2ndbuttons_r2_c1_s3.jpg',1);" onclick="MM_nbGroup('down','navbar1','the2ndbuttons_r2_c1','../2ndButtonsnavigation/the2ndbuttons_r2_c1_s3.jpg',1);"><img name="the2ndbuttons_r2_c1" src="../2ndButtonsnavigation/the2ndbuttons_r2_c1.jpg" width="140" height="58" border="0" id="the2ndbuttons_r2_c1" alt="" /></a></td>
      <td><img src="../2ndButtonsnavigation/spacer.gif" alt="" name="undefined_2" width="1" height="58" border="0" id="undefined_2" /></td>
    </tr>
    <tr>
      <td><a href="LookandFeel.html" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','the2ndbuttons_r3_c1','../2ndButtonsnavigation/the2ndbuttons_r3_c1_s2.jpg','../2ndButtonsnavigation/the2ndbuttons_r3_c1_s3.jpg',1);" onclick="MM_nbGroup('down','navbar1','the2ndbuttons_r3_c1','../2ndButtonsnavigation/the2ndbuttons_r3_c1_s3.jpg',1);"><img name="the2ndbuttons_r3_c1" src="../2ndButtonsnavigation/the2ndbuttons_r3_c1.jpg" width="140" height="58" border="0" id="the2ndbuttons_r3_c1" alt="" /></a></td>
      <td><img src="../2ndButtonsnavigation/spacer.gif" alt="" name="undefined_2" width="1" height="58" border="0" id="undefined_2" /></td>
    </tr>
    <tr>
      <td><a href="MAP.html" onmouseout="MM_nbGroup('out');" onmouseover="MM_nbGroup('over','the2ndbuttons_r4_c1','../2ndButtonsnavigation/the2ndbuttons_r4_c1_s2.jpg','../2ndButtonsnavigation/the2ndbuttons_r4_c1_s3.jpg',1);" onclick="MM_nbGroup('down','navbar1','the2ndbuttons_r4_c1','../2ndButtonsnavigation/the2ndbuttons_r4_c1_s3.jpg',1);"><img name="the2ndbuttons_r4_c1" src="../2ndButtonsnavigation/the2ndbuttons_r4_c1.jpg" width="140" height="57" border="0" id="the2ndbuttons_r4_c1" alt="" /></a></td>
      <td><img src="../2ndButtonsnavigation/spacer.gif" alt="" name="undefined_2" width="1" height="57" border="0" id="undefined_2" /></td>
    </tr>
  </table>
</div>
</body>
<!-- InstanceEnd --></html>
